<mat-toolbar class="example-container " color="primary" class="header top_header" style="height:60px !important; border-bottom: 1px solid #c6d0da;">

  <span>
    <button mat-icon-button (click)="sidenav.toggle()" style="width:60px;height:60px;margin-left:-16px;border-bottom:1px solid #c6d0da;border-radius:0%">
      <mat-icon class="md-24" style="color:white">menu</mat-icon>
    </button>
  </span>
  <span>
    <a routerLink="/dashboard">
      <img src="assets/img/logo.png" width="250" height="40" alt="">
    </a>
  </span>
  <span class="example-spacer">

    <mat-form-field class="example-full-width" style="padding-left:20px; width:95%">
      <input type="text" placeholder="Search for Components"aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of listItems" [value]="option.link">
       <a routerLink="{{'/'+option.link}}" style="display:block; width:100%;">{{option.link}}</a>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


  </span>
  <a class="navBtnActive" routerLink="/dashboard">
    Components
  </a>
  <a class="navBtn">
          Style Guides
       </a>
       <a class="navBtn">
          Design pattern
       </a>
</mat-toolbar>


<mat-sidenav-container class="example-sidenav-container">

  <mat-sidenav #sidenav [mode]="navMode" opened="true" class="side_nav">
    <mat-nav-list>
      <!-- <form class="searchform">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="searchInput" (input)="onSearch($event.target.value)" name="searchInput" placeholder="Search"
              value="">
          </mat-form-field>
        </form> -->
      <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">

        <mat-tree-node class="childNode side_nav_list" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding  (click)="onMenuClick(node)">
          <!-- <button mat-icon-button></button> -->
          <a style="cursor: pointer;"  class="text-captilize" id="{{node.filename}}" style="padding-left:20px;" [ngClass]="{'active' : activeUrl == node.filename}" autofocus>{{node.filename}}</a>
        </mat-tree-node>


        <!-- <fa name="cog" animation="spin"></fa> -->


        <mat-tree-node class="parentNode " *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="padding-left:30px;"
          matTreeNodeToggle>
          <!-- <mat-icon
                    class="md-18 icon_fet"
                    md-list-icon svgIcon="core:{{node.filename}}">
          </mat-icon> -->
          <!-- <i [class]="sideNavIcons.minusSquare"></i> -->
          <!-- <i [icon]="faCoffee"></i> -->
          <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
            <i [class]="sideNavIcons.minusSquare"></i>&nbsp;
             <a [attr.aria-label]="'toggle ' + node.filename" class="text-captilize">
            {{node.filename}}
          </a>
          <mat-icon class="mat-icon-rtl-mirror" style="right: 15px;position: absolute;">
            {{treeControl.isExpanded(node) ? 'keyboard_arrow_up ' : 'keyboard_arrow_down'}}
          </mat-icon>

        </mat-tree-node>
      </mat-tree>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>


      <router-outlet></router-outlet>
   

  </mat-sidenav-content>
</mat-sidenav-container>
