<!--Component-->
<div fxLayout="row wrap" fxLayoutAlign="start start" class="m-b-30">
    <h5 class="m-b-15"> Determinate Progress Model</h5>
    <div fxFlex="100" fxLayoutAlign="start start">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start" class="m-t-30 m-b-30">
    <h5 class="m-b-15">Indeterminate Progress Model</h5>
    <div fxFlex="100" fxLayoutAlign="start start">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
    <p>
        Making your website content heavy usually increases its loading time. This may wreck your user experience, increase abandonment
        rate or lower your position in search engines.
    </p>

</mat-card>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
    <p>Step 1</p>
    <p class="docs-api-module-import">
        <code>    
          import &#123; MatProgressBarModule &#125; from '@angular/material/progress-bar';
    </code>
    </p>
</mat-card>
<!-- / code Walk Through -->