<!--Component-->
<button mat-raised-button
        matTooltip="ToolTip on Top"
        matTooltipPosition="above"
        aria-label="Button that displays a tooltip when focused or hovered over">
        ToolTip on Top
</button>
<button mat-raised-button
        matTooltip="ToolTip on Right"
        matTooltipPosition="after"
        aria-label="Button that displays a tooltip when focused or hovered over">
        ToolTip on Right
</button>
<button mat-raised-button
        matTooltip="ToolTip on below"
        matTooltipPosition="below"
        aria-label="Button that displays a tooltip when focused or hovered over">
        ToolTip on below
</button>
<button mat-raised-button
        matTooltip="ToolTip on Left"
        matTooltipPosition="left"
        aria-label="Button that displays a tooltip when focused or hovered over">
  ToolTip on Left
</button>
<!--<Component>-->

<!-- Description -->

<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
      <p>
            A message which appears when a cursor is positioned over an icon, image, hyperlink, or any other element in a graphical user interface.
      </p>

</mat-card>

<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
      <p>Step 1</p>
      <p class="docs-api-module-import">
            <code>    
          import &#123; MatTooltipModule  &#125; from '@angular/material/tooltip';
            </code>
      </p>
</mat-card>

<!-- / code Walk Through -->
