<!--Component-->
<div class="spinner-container">
        <mat-spinner></mat-spinner>
</div>
<!--<COmponent>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
        <p>
              
        </p>

</mat-card>
<!-- /Description -->
<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
        <p>Step 1</p>
        <p class="docs-api-module-import">
                <code>    
           import &#123; MatProgressSpinnerModule &#125; from '@angular/material/progress-spinner';
     </code>
        </p>
</mat-card>
<!-- / code Walk Through -->