<!--Component-->
<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose:
    <i>{{animal}}</i>
  </li>
</ol>
<!--<Component>-->

  <!-- Description -->
<h4 class="m-t-15">Description</h4>
<div class="m-t-15">
  <p>
      Dialog is a type of modal window that appears in front of app content to provide critical information or ask for a decision. Dialogs disable the app functionality when they appear, and remain on screen until confirmed, dismissed, or a required action is taken.
  </p>

</div>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<div class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>    
          import &#123; MatDialogModule &#125; from '@angular/material/dialog';
    </code>
  </p>
</div>
<!-- / code Walk Through -->