<mat-card class="m-t-15">

  <mat-icon svgIcon="accessibility"></mat-icon>
  <mat-icon svgIcon="accessible_forward"></mat-icon>
  <mat-icon svgIcon="accessible"></mat-icon>
  <mat-icon svgIcon="account_balance_wallet"></mat-icon>
  <mat-icon svgIcon="account_balance"></mat-icon>
  <mat-icon svgIcon="account_box"></mat-icon>
  <mat-icon svgIcon="account_circle"></mat-icon>
  <mat-icon svgIcon="alarm_add"></mat-icon>
  <mat-icon svgIcon="alarm_off"></mat-icon>
  <mat-icon svgIcon="alarm_on"></mat-icon>
  <mat-icon svgIcon="accessible"></mat-icon>
  <mat-icon svgIcon="all_inbox"></mat-icon>
  <mat-icon svgIcon="all_out"></mat-icon>
  <mat-icon svgIcon="android"></mat-icon>
  <mat-icon svgIcon="announcement"></mat-icon>
  <mat-icon svgIcon="arrow_right_alt"></mat-icon>
  <mat-icon svgIcon="aspect_ratio"></mat-icon>
  <mat-icon svgIcon="assessment"></mat-icon>
  <mat-icon svgIcon="assignment_ind"></mat-icon>
  <mat-icon svgIcon="assignment_late"></mat-icon>
  <mat-icon svgIcon="assignment_return"></mat-icon>
  <mat-icon svgIcon="assignment_returned"></mat-icon>
  <mat-icon svgIcon="assignment_turned_in"></mat-icon>
  <mat-icon svgIcon="assignment"></mat-icon>
  <mat-icon svgIcon="autorenew"></mat-icon>
  <mat-icon svgIcon="backup"></mat-icon>
  <mat-icon svgIcon="bookmarks"></mat-icon>
  <mat-icon svgIcon="bug_report"></mat-icon>
  <mat-icon svgIcon="build"></mat-icon>
  <mat-icon svgIcon="cached"></mat-icon>
  <mat-icon svgIcon="calendar_today"></mat-icon>
  <mat-icon svgIcon="calendar_view_day"></mat-icon>
  <mat-icon svgIcon="compare_arrows"></mat-icon>
  <mat-icon svgIcon="contact_support"></mat-icon>
  <mat-icon svgIcon="copyright"></mat-icon>
  <mat-icon svgIcon="date_range"></mat-icon>
  <mat-icon svgIcon="delete_forever"></mat-icon>
  <mat-icon svgIcon="delete_outline"></mat-icon>
  <mat-icon svgIcon="delete"></mat-icon>
  <mat-icon svgIcon="dns"></mat-icon>
  <mat-icon svgIcon="done_all"></mat-icon>
  <mat-icon svgIcon="done_outline"></mat-icon>
  <mat-icon svgIcon="donut_large"></mat-icon>
  <mat-icon svgIcon="donut_small"></mat-icon>
  <mat-icon svgIcon="drag_indicator"></mat-icon>
  <mat-icon svgIcon="eject"></mat-icon>
  <mat-icon svgIcon="euro_symbol"></mat-icon>
  <mat-icon svgIcon="event_seat"></mat-icon>
  <mat-icon svgIcon="event"></mat-icon>
  <mat-icon svgIcon="exit_to_app"></mat-icon>
  <mat-icon svgIcon="explore_off"></mat-icon>
  <mat-icon svgIcon="explore"></mat-icon>
  <mat-icon svgIcon="extension"></mat-icon>
  <mat-icon svgIcon="flip_to_back"></mat-icon>
  <mat-icon svgIcon="face"></mat-icon>
  <mat-icon svgIcon="favorite_border"></mat-icon>
  <mat-icon svgIcon="favorite"></mat-icon>
  <mat-icon svgIcon="find_in_page"></mat-icon>
  <mat-icon svgIcon="find_replace"></mat-icon>
  <mat-icon svgIcon="fingerprint"></mat-icon>
  <mat-icon svgIcon="flight_land"></mat-icon>
  <mat-icon svgIcon="flight_takeoff"></mat-icon>




</mat-card>
<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
  <p> Angular supports Material icons. If you want to use material icons in your project then you need to download svg icons first then you need to import 'MatIconRegistry' from '@angular/material' and it's builtin service so need to inject within constructor with serviceName after that need to write like this in constructor body <br/> <code>serviceName.addSvgIcon('name of the Icon','Icon path need to register Here').</code></p>

</mat-card>
<!-- /Description -->
