<div id="output"></div>

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
  <p>
        A pivot table is a table that summarizes data from another table, and is made by applying operations such as sorting, averaging, or summing to data in the first table, typically including grouping of the data. Pivot tables are used in data processing and are found in data visualization programs such as spreadsheets or business intelligence softwares.
  </p>

</mat-card>
<!-- /Description -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
       <code>npm install jquery </code> 
  </p>
  <p>Step 2</p>
  <p class="docs-api-module-import">
       <code>npm install jquery-ui-dist </code> 
  </p>
  <p>Step 3</p>
  <p class="docs-api-module-import">
      <code>npm install pivottable</code>  
  </p>
      
</mat-card>