<!--Component-->
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>



<!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
  <p>

  </p>

</mat-card>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
          import &#123; MatMenuModule &#125; from '@angular/material/menu';
      </code>
  </p>
</mat-card>
