<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
  <p>It lets you split a huge amount of content within the tables into smaller parts. </p>

</mat-card>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
          import &#123; MatPaginatorModule &#125; from '@angular/material/paginator';
    </code>
  </p>
</mat-card>
<!-- / code Walk Through -->
