<!--Component-->
<input [ngxTimepicker]="picker">
<ngx-material-timepicker #picker></ngx-material-timepicker>
<!--<Component>-->
    
    <!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
  <p>
      This widget lets the user pick both the date and time within a single interface. A common use case is to select a date and time of travel.
  </p>

</mat-card>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>    
            npm i ngx-material-timepicker
     </code>
  </p>
  <p>Step 2</p>
  <p class="docs-api-module-import">
    <code>    
           import &#123; NgxMaterialTimepickerModule &#125; from 'ngx-material-timepicker';
     </code>
  </p>
</mat-card>
<!-- / code Walk Through -->
