   
    
<mat-card class="example-card">
    <div class= 'container'>dsfsd
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
 </mat-card>
 <!-- Description -->
 <h4 class="m-t-15">Description</h4>
 <mat-card class="m-t-15">
   <p>Set of credentials used to gain access to an area that requires proper authorization is called login. Logins are used to gain access and control of computers, networks, and bulletin boards, as well as other services and devices.</p>
 
 </mat-card>
 <!-- /Description -->
 