<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

  <!-- Description -->
  <h4 class="m-t-15">Description</h4>
  <div class="m-t-15">
    <p>A grid table contains a set of data that is structured in rows and columns, allowing a user to scroll in both directions and handle large numbers of items and columns. 
    </p>

  </div>
  <!-- /Description -->

  <!-- code Walk Through -->

  <h4 class="m-t-15">Setup</h4>
  <div class="m-t-15">
    <p>Step 1</p>
    <p class="docs-api-module-import">
      <code>
            import &#123; MatGridListModule &#125; from '@angular/material/grid-list';
      </code>
    </p>
  </div>
  <!-- / code Walk Through -->
