<!--Component-->
<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
  <p>
      Tab is a graphical control element that allows multiple documents or panels to be contained within a single window. You can use tabs as a navigational widget for switching between sets of documents. 
  </p>

</mat-card>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>    
          import &#123; MatTabsModule &#125; from '@angular/material/tabs';
    </code>
  </p>
</mat-card>
<!-- / code Walk Through -->