<h1 class="center">Virtual Scroll using with cdk</h1>

<!-- <div >
  <cdk-virtual-scroll-viewport itemSize="90" >
    <div *cdkVirtualFor="let n of numbers">
     {{n}}
    </div>
  </cdk-virtual-scroll-viewport>
</div> -->
<cdk-virtual-scroll-viewport itemSize="50" style="height:150px; display: block; text-align:center; line-height:140px; font-size:30px; color:#006699; font-weight:bold; border: 1px solid; overflow: auto;">
  <!-- <div *cdkVirtualFor="let n of numbers" style="height:200px;">{{n}}</div> -->
  <div *ngFor="let n of numbers" style="height:130px;">{{n}}</div>
</cdk-virtual-scroll-viewport>

<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
    <p> ---- </p>

</mat-card>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
    <p>Step 1</p>
    <p class="docs-api-module-import">
        <code>
          npm install @angular/cdk@7.0.0
        </code>
    </p>
    <p>Step 2</p>
    <p class="docs-api-module-import">
        <code>
            import &#123; ScrollingModule &#125; from '@angular/cdk/scrolling';
        </code>
    </p>
</mat-card>
    <!-- / code Walk Through -->
